<div class="container">
  <div class="row">
    <form name="form" class="col">
      <table class="table table-primary">
        <thead>
          <tr>
            <th></th>
            <th>基本ステ</th>
            <th>装備</th>
            <th>石像</th>
            <th>VC</th>
            <th>アビリティボードの%</th>
            <th>召喚獣</th>
          </tr>
        </thead>
        <tbody>
        
          <tr>
            <td>攻撃</td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
          </tr>
          <tr>
            <td>器用さ</td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
          </tr>
          <tr>
            <td>素早さ</td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
          </tr>
          <tr>
            <td>運</td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
            <td>
              <input type="tel" id="field1" class="form-control" value="0" maxlength="4">
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="row">
    <form name="form1_1" class="col-sm">
      <table class="table table-primary">
        <tr>
          <td>参照ステ合計値</td>
          <td class="col-xs">
            <input type="tel" id="field1" class="form-control" value="100" onKeyUp="damage()" maxlength="4">
          </td>
        </tr>
        <tr>
          <td>アビ倍率</td>
          <td class="col-xs">
            <input type="tel" id="field2" class="form-control" value="100" onKeyUp="damage()" maxlength="5">
          </td>
        </tr>
        <tr>
          <td>耐性</td>
          <td class="col-xs">
            <input type="tel" id="field3" class="form-control" value="0" onKeyUp="damage()" maxlength="4">
          </td>
        </tr>
        <tr>
          <td>防御</td>
          <td class="col-xs">
            <input type="tel" id="field4" class="form-control" value="0" onKeyUp="damage()" maxlength="4">
          </td>
        </tr>
        <tr>
          <td>Brave</td>
          <td class="col-xs">
            <input type="tel" id="field5" class="form-control" value="97" onKeyUp="damage()" maxlength="4">
          </td>
        </tr>
        <tr>
          <td>ダメージ</td>
          <td class="col-xs">
            <input type="tel" id="field_total" class="form-control" value="0" onKeyUp="damage()" maxlength="4" readonly>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

    <script>
    function damage(){
      var element = document.getElementById("atk-flag")

  var atk = document.form1_1.field1.value;
  var pow = document.form1_1.field2.value/100;
  var res = 1 - document.form1_1.field3.value/100;
  var def = 1 - document.form1_1.field4.value/100;
  var brv = 0.5 +document.form1_1.field5.value/100;

  document.form1_1.field_total.value = parseInt(atk*pow*res*def*brv);
    }

    </script>

    追加機能のめも
    <p>詳細計算（基本ステ+石像、装備、VC、あびぼーど）に変更←jobによって計算が変わるため難航中</p>
    <p>魔法物理をifでわける←後回し</p>
    <p>次の１すてでダメージ変動がどうなるか←一番上のが終わってから</p>
